In [1]:
import os
import diff_classifier.imagej as ij
import boto3
import os.path as op
import diff_classifier.aws as aws
import cloudknot as ck
import diff_classifier.knotlets as kn
import numpy as np
import diff_classifier.msd as msd
import diff_classifier.utils as ut
import diff_classifier.aws as aws

In [ ]:
kn.download_split_track_msds('P1_S1_R_0012')

In [ ]:
data

In [ ]:
prefix = 'P1_S1_R_0012'
local_folder = os.getcwd()
frames = 651
names = []
ires = 512

for i in range(0, 4):
    for j in range(0, 4):
        names.append('{}_{}_{}.tif'.format(prefix, i, j))

counter = 0
for name in names:
    row = int(name.split('.')[0].split('_')[4])
    col = int(name.split('.')[0].split('_')[5])

    filename = "Traj_{}_{}_{}.csv".format(prefix, row, col)
    local_name = op.join(local_folder, filename)

    if counter == 0:
        merged = msd.all_msds2(ut.csv_to_pd(local_name), frames=frames)
    else: 
        to_add = ut.csv_to_pd(local_name)
        to_add['X'] = to_add['X'] + ires*row
        to_add['Y'] = to_add['Y'] + ires*col
        to_add['Track_ID'] = to_add['Track_ID'] + max(merged['Track_ID'])
        merged = merged.append(msd.all_msds2(to_add, frames=frames))
    counter = counter + 1

    msd_file = 'msd_{}.csv'.format(prefix)
    merged.to_csv(msd_file)

In [ ]:
ut.csv_to_pd(local_name)

In [17]:
folder = '01_18_Experiment/P1'
name = 'Traj_P1_S1_L_0007_3_3.csv'
s3 = boto3.client('s3')
aws.download_s3(op.join(folder, name), name)
msd.all_msds2(ut.csv_to_pd(name), frames = 651)

         Frame     Gauss      MSDs  Track_ID           X           Y
0          0.0  0.000000  0.000000       0.0  507.248273  485.427077
1          1.0  2.007871  1.098179       0.0  507.472876  485.563279
2          2.0  1.621369  1.551981       0.0  508.060262  485.931212
3          3.0  1.606292  1.840243       0.0  507.639257  486.252049
4          4.0  1.546484  2.033902       0.0  509.013352  486.146628
5          5.0  1.447126  2.277714       0.0  509.410178  486.526855
6          6.0  1.406376  2.367682       0.0  511.000000  486.000000
7          7.0  1.437442  2.507096       0.0  511.000000  487.000000
8          8.0  1.436057  2.671965       0.0  511.000000  487.000000
9          9.0  1.344837  2.842856       0.0  511.000000  486.000000
10        10.0  1.242392  3.114881       0.0  511.000000  486.000000
11        11.0  1.234482  3.120632       0.0  511.000000  487.000000
12        12.0  1.239496  3.208823       0.0  509.112866  485.349459
13        13.0  1.214877  3.443475       0.0  508.311467  485.506870
14        14.0  1.217879  3.556060       0.0  507.582708  485.741524
15        15.0  1.219545  3.687639       0.0  507.340660  485.804500
16        16.0  1.188776  3.923389       0.0  508.901636  485.404497
17        17.0  1.221774  3.983387       0.0  511.000000  486.000000
18        18.0  1.210026  3.917173       0.0  511.000000  486.000000
19        19.0  1.263027  3.958258       0.0  510.131687  485.591983
20        20.0  1.261770  3.981026       0.0  508.149376  485.557368
21        21.0  1.249859  4.140631       0.0  508.474117  485.633212
22        22.0  1.228614  4.267096       0.0  507.933291  485.576119
23        23.0  1.251523  4.336282       0.0  507.833351  485.419312
24        24.0  1.241516  4.378083       0.0  507.787604  485.674312
25        25.0  1.203618  4.533354       0.0  507.140696  485.556337
26        26.0  1.213453  4.512963       0.0  507.177998  485.421372
27        27.0  1.207185  4.512685       0.0  507.196895  485.820432
28        28.0  1.188664  4.672309       0.0  507.370665  486.058677
29        29.0  1.165854  4.674418       0.0  506.865445  485.773831
...        ...       ...       ...       ...         ...         ...
1478391  621.0       NaN       NaN    2270.0         NaN         NaN
1478392  622.0       NaN       NaN    2270.0         NaN         NaN
1478393  623.0       NaN       NaN    2270.0         NaN         NaN
1478394  624.0       NaN       NaN    2270.0         NaN         NaN
1478395  625.0       NaN       NaN    2270.0         NaN         NaN
1478396  626.0       NaN       NaN    2270.0         NaN         NaN
1478397  627.0       NaN       NaN    2270.0         NaN         NaN
1478398  628.0       NaN       NaN    2270.0         NaN         NaN
1478399  629.0       NaN       NaN    2270.0         NaN         NaN
1478400  630.0       NaN       NaN    2270.0         NaN         NaN
1478401  631.0       NaN       NaN    2270.0         NaN         NaN
1478402  632.0       NaN       NaN    2270.0         NaN         NaN
1478403  633.0       NaN       NaN    2270.0         NaN         NaN
1478404  634.0       NaN       NaN    2270.0         NaN         NaN
1478405  635.0       NaN       NaN    2270.0         NaN         NaN
1478406  636.0       NaN       NaN    2270.0         NaN         NaN
1478407  637.0       NaN       NaN    2270.0         NaN         NaN
1478408  638.0       NaN       NaN    2270.0         NaN         NaN
1478409  639.0       NaN       NaN    2270.0         NaN         NaN
1478410  640.0       NaN       NaN    2270.0         NaN         NaN
1478411  641.0       NaN       NaN    2270.0         NaN         NaN
1478412  642.0       NaN       NaN    2270.0         NaN         NaN
1478413  643.0       NaN       NaN    2270.0         NaN         NaN
1478414  644.0       NaN       NaN    2270.0         NaN         NaN
1478415  645.0       NaN       NaN    2270.0         NaN         NaN
1478416  646.0       NaN       NaN    2270.0         NaN         NaN
1478417  647.0       NaN       NaN    2270.0         NaN         NaN
1478418  648.0       NaN       NaN    2270.0         NaN         NaN
1478419  649.0       NaN       NaN    2270.0         NaN         NaN
1478420  650.0       NaN       NaN    2270.0         NaN         NaN

[1478421 rows x 6 columns]

In [ ]:
prefix = 'P1_S3_L_0000'

remote_folder = "01_18_Experiment/{}".format(prefix.split('_')[0])
local_folder = os.getcwd()
ires = 512
frames = 651
filename = '{}.tif'.format(prefix)
remote_name = op.join(remote_folder, filename)
local_name = op.join(local_folder, filename)

#local_name = op.split(filename)[1]
#DIR = op.split(filename)[0]
try1 = prefix + '_0_0.tif'
try2 = prefix + '_3_3.tif'

# s3 = boto3.client('s3')
# try:
#     obj = s3.head_object(Bucket='ccurtis7.pup', Key=op.join(remote_folder, try1))
# except:
#     try:
#         obj = s3.head_object(Bucket='ccurtis7.pup', Key=op.join(remote_folder, try2))
#     except:
#         aws.download_s3(remote_name, local_name)
#         names = ij.partition_im(local_name)
#         for name in names:
#             aws.upload_s3(name, op.join(remote_folder, name))
# print("Done with splitting.  Should output file of name {}".format(op.join(remote_folder, name)))

In [ ]:
names = []
for i in range(0, 4):
    for j in range(0, 4):
        names.append('{}_{}_{}.tif'.format(prefix, i, j))

for name in names:
    outfile = 'Traj_' + name.split('.')[0] + '.csv'
    local_im = op.join(local_folder, name)
    print(op.isfile(outfile))

In [ ]:
outfile