In [1]:
import pandas as pd
import numpy as np
import skimage.io as sio
import numpy.ma as ma

In [2]:
from diff_classifier.msd import all_msds, nth_diff, msd_calc

In [4]:
d = {'Frame': [1, 2, 3, 4, 5, 1, 2, 3, 4, 5],
             'Track_ID': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2],
             'X': [5, 6, 7, 8, 9, 1, 2, 3, 4, 5],
             'Y': [6, 7, 8, 9, 10, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data=d)

In [ ]:
df

In [5]:
all_msds(df)

c:\users\koolk\desktop\diff-classifier\diff_classifier\msd.py:153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  data.loc[:, 'MSDs'][index1:index2], data.loc[:, 'Gauss'][index1:index2] = msd_calc(single_track)
c:\users\koolk\desktop\diff-classifier\diff_classifier\msd.py:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  data.loc[:, 'Frame'][index1:index2] = data.loc[:, 'Frame'][index1:index2] - (data.loc[:, 'Frame'][index1] - 1)

   Frame  Track_ID  X   Y  MSDs  Gauss
0      1         1  5   6   0.0   0.00
1      2         1  6   7   2.0   0.25
2      3         1  7   8   8.0   0.25
3      4         1  8   9  18.0   0.25
4      5         1  9  10  32.0   0.25
5      1         2  1   2   0.0   0.00
6      2         2  2   3   2.0   0.25
7      3         2  3   4   8.0   0.25
8      4         2  4   5  18.0   0.25
9      5         2  5   6  32.0   0.25

In [20]:
di = {'Frame': [1, 2, 3, 4, 5, 1, 2, 3, 4, 5],
             'Track_ID': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2],
             'X': [5, 6, 7, 8, 9, 1, 2, 3, 4, 5],
             'Y': [6, 7, 8, 9, 10, 2, 3, 4, 5, 6],
             'MSDs': [float(i) for i in[0, 2, 8, 18, 32, 0, 2, 8, 18, 32]],
             'Gauss': [0, 0.25, 0.25, 0.25, 0.25, 0, 0.25, 0.25, 0.25, 0.25]}
cols = ['Frame', 'Track_ID', 'X', 'Y', 'MSDs', 'Gauss']
dfi = pd.DataFrame(data=di)[cols]

In [22]:
dfi == all_msds(df)

c:\users\koolk\desktop\diff-classifier\diff_classifier\msd.py:153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  data.loc[:, 'MSDs'][index1:index2], data.loc[:, 'Gauss'][index1:index2] = msd_calc(single_track)
c:\users\koolk\desktop\diff-classifier\diff_classifier\msd.py:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  data.loc[:, 'Frame'][index1:index2] = data.loc[:, 'Frame'][index1:index2] - (data.loc[:, 'Frame'][index1] - 1)

   Frame  Track_ID     X     Y  MSDs  Gauss
0   True      True  True  True  True   True
1   True      True  True  True  True   True
2   True      True  True  True  True   True
3   True      True  True  True  True   True
4   True      True  True  True  True   True
5   True      True  True  True  True   True
6   True      True  True  True  True   True
7   True      True  True  True  True   True
8   True      True  True  True  True   True
9   True      True  True  True  True   True

In [24]:
d = {'Frame': [1, 2, 3, 4, 5],
         'X': [5, 6, 7, 8, 9],
         'Y': [6, 7, 8, 9, 10]}
df = pd.DataFrame(data=d)

In [25]:
msd_calc(df)

(array([  0.,   2.,   8.,  18.,  32.]),
 array([ 0.  ,  0.25,  0.25,  0.25,  0.25]))

In [ ]:
np.array([0, 0.25, 0.25, 0.25, 0.25]).astype('float64') == msd_calc(df)[1]

In [ ]:
df.loc[:, "Frame"][0:3] = (0, 0, 0)

In [23]:
import pandas.util.testing as pdt

In [ ]:
pdt.asser